﻿@{
  ViewData["Title"] = "Home Page";
}

<div class="row">
  <div class="col-md-6">
    <h2>JWT Security demo</h2>
      <p style="text-indent: 50px;">
      Welcome to Washington School, one of eight schools within the San Gabriel Unified School District. 
      In 1887, bonds were sold to raise funds to build Washington School. The site selected was at the intersection of the roads to the San Gabriel Mission and the Southern Pacific Depot. 
      This is the present location of Washington School.
      <p/>
      <p style="text-indent: 50px;" >
          Washington School was completed in 1888. 
          The newly built Washington School won National Honors for the best architecturally designed school in the United States. 
          It was built for the grand sum of $1,200, including the cost of bringing lumber from Minnesota.
      </p>
  </div>
</div>
